*.nc
iod_timeseries
.DS_Store
.ipynb_checkpoints
.venv
__pycache__
IOD-analysis/visus_can_be_deleted/
*.png
*.idx
*.gif
*.pkl
/vector_fields-master
*.vtp
/vtkp
py_helmholtz/
psi_phi.py
pseudoGUI.ipynb
helmholtz.py.bak
helmholtz.py
data.json
